/PortalOdonto/Model/obj
/PortalOdonto/Model/bin
/PortalOdonto/.vs
/PortalOdonto/Negocio/bin
/PortalOdonto/Negocio/obj
/PortalOdonto/Persistencia/bin
/PortalOdonto/Persistencia/obj
/PortalOdonto/PortalOdonto/bin
/PortalOdonto/PortalOdonto/obj
/PortalOdonto/PortalOdonto.Testes/obj
